body {
  text-align: center;
  background-color: #f9f9f9;
}
#timers {
  padding: 10px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.timer {
  display: inline-block;
  width: 90%;
  max-width: 300px;
  height: 320px;
  padding: 5px;
  margin: 5px;
  outline: 0px solid #f9f9f9;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: calibri;
  box-shadow: 0px 0px 10px lightgray;
  transition: outline .1s, background-color .1s, box-shadow .1s;
}
.timer:hover {
  background-color: #f9f9f9;
  outline: 5px solid #f9f9f9;
  box-shadow: 0px 0px 20px lightgray;
}
.title {
  border-radius: 3px;
  display: inline-block;
  width: 90%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  text-align: left;
}
.remove {
  border-radius: 3px;
  display: inline-block;
  width: 10%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color .1s;
}
.remove:hover {
  background-color: lightgray;
}
.timeContainer{
  border: 10px solid lightgray;
  border-radius: 1000px;
  width: 90%;
  max-width: 200px;
  height: 200px;
  margin: 10px auto;
}
.time {
  margin: 40% auto 10%;
  font-size: 40px;
  line-height: 100%;
}
.estimated {
  display: none;
  border-radius: 1000px;
  width: 40%;
  margin: auto;
  background-color: lightgray;
}
img {
  width: 100%;
  min-width: 15px;
  height: 100%;
  min-height: 15px;
}
button {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  transition: background-color .05s, outline .05s;
}
.removeAll, .addTimer {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.addTimer{
  border: 2px solid #1AC989;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.addTimer:hover {
  outline: 2px solid #1AC989;
}
.addTimer:active {
  background-color: #1AC989;
  outline: 0px solid #1AC989;
}
.removeAll{
  border: 2px solid tomato;
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.removeAll:hover {
  outline: 2px solid tomato;
}
.removeAll:active {
  background-color: red;
  outline: 0px solid red;
}
.timer button {
  width: 35px;
  height: 35px;
  margin: 5px 10px;
}
.start {
  border: 2px solid #1AC989;
  padding: 5px 5px 5px 7px;
}
.start:hover {
  outline: 2px solid #1AC989;
}
.start:active {
  background-color: #1AC989;
  outline: 0px solid #1AC989;
}
.pause {
  border: 2px solid tomato;
  padding: 5px;
}
.pause:hover {
  outline: 2px solid tomato;
}
.pause:active {
  background-color: red;
  outline: 0px solid red;
}
.reset {
  border: 2px solid #5A7EF8;
  padding: 5px;
}
.reset:hover {
  outline: 2px solid #5A7EF8;
}
.reset:active {
  background-color: #5A7EF8;
  outline: 0px solid #5A7EF8;
}
.confirm {
  position: fixed;
  left: 0%;
  bottom: 0%;
  right: 0%;
  top: 0%;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgb(100, 100, 100, .5);
}
.confirm-box {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px gray;
  border-radius: 5px;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  height: 200px;
}
.confirm-box p {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  font-family: Tahoma;
}
.confirm-box p.message-title{
  font-size: 20px;
  height: 10%;
}
.confirm-box p.message-text{
  height: 30%;
}
button.confirm-ok {
  border: 2px solid tomato;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}
button.confirm-ok:hover {
  outline: 2px solid tomato;
}
button.confirm-ok:active {
  background-color: red;
  outline: 0px solid red;
}
button.confirm-cancel {
  border: 2px solid #5A7EF8;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}
button.confirm-cancel:hover {
  outline: 2px solid #5A7EF8;
}
button.confirm-cancel:active {
  background-color: #5A7EF8;
  outline: 0px solid #5A7EF8;
}
#Add-box {
  height: 360px;
}
.timerName {
  width: 80%;
  margin: auto auto 10px;
  height: 30px;
  display: flex;
  border-radius: 3px;
  background-color: #5A7EF8;
  color: white;
  font-family: calibri;
  box-shadow: 0px 0px 3px 0px lightgray;
}
.timerName label {
  width: 30%;
  height: 100%;
  line-height: 30px;
}
.timerName input {
  width: 70%;
  height: 100%;
  padding: 5px 10px;
  font-size: 15px;
  font-family: calibri;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
}
.time-picker {
  width: 80%;
  margin: 20px auto;
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px lightgray;
}
.segment{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  line-height: 55px;
}
.time-picker button {
  border-radius: 0;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 30px;
  width: 30%;
  max-width: 70px;
  height: 50px;
}
.time-picker input {
  border: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 30%;
  max-width: 70px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}
button.picker-ok {
  border: 2px solid #1AC989;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}
button.picker-ok:hover {
  outline: 2px solid #1AC989;
}
button.picker-ok:active {
  background-color: #1AC989;
  outline: 0px solid #1AC989;
}
button.picker-cancel {
  border: 2px solid #5A7EF8;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}
button.picker-cancel:hover {
  outline: 2px solid #5A7EF8;
}
button.picker-cancel:active {
  background-color: #5A7EF8;
  outline: 0px solid #5A7EF8;
}
